:root {
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);

  --LightGrayishCyanBackground: hsl(180, 52%, 96%);
  --LightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
}
